{:highlights [{:id #uuid "670a8646-09ca-4fc7-ac76-62b668a613b0",
               :page 21,
               :position {:bounding {:x1 368.8981018066406,
                                     :y1 27.58770751953125,
                                     :x2 470.21038818359375,
                                     :y2 77.41226196289062,
                                     :width 1137,
                                     :height 639.5625},
                          :rects ({:x1 368.8981018066406,
                                   :y1 27.58770751953125,
                                   :x2 470.21038818359375,
                                   :y2 77.41226196289062,
                                   :width 1137,
                                   :height 639.5625}),
                          :page 21},
               :content {:text " lossy"},
               :properties {:color "yellow"}}
              {:id #uuid "670a86a8-bd5d-4cc0-ae72-340b0780a52b",
               :page 25,
               :position {:bounding {:x1 34.8135986328125,
                                     :y1 27.58771514892578,
                                     :x2 231.22447204589844,
                                     :y2 77.41227722167969,
                                     :width 1137,
                                     :height 639.5625},
                          :rects ({:x1 34.8135986328125,
                                   :y1 27.58771514892578,
                                   :x2 231.22447204589844,
                                   :y2 77.41227722167969,
                                   :width 1137,
                                   :height 639.5625}),
                          :page 25},
               :content {:text "Dissipative"},
               :properties {:color "yellow"}}],
 :extra {:page 70}}
